[submodule "api5-api"]
	path = api5-api
	url = git@github.com:Phoenix-Team-Fatec/api5-api.git
[submodule "api5-frontend"]
	path = api5-frontend
	url = git@github.com:Phoenix-Team-Fatec/api5-frontend.git
[submodule "geomaps_admin_portal"]
	path = geomaps_admin_portal
	url = git@github.com:Phoenix-Team-Fatec/geomaps_admin_portal.git
